.page {
  font-family: var(--main-font, monospace);
  background: var(--bg-image) no-repeat center/cover;
  background-color: var(--bg-color, #000028);
  background-attachment: fixed;
}

.title-decor {
  color: var(--title-color);
  background-color: var(--decor-color);
}

.link {
  text-decoration: none;
}

.unbold {
  font-weight: 400;
}

/* Header */
.header {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  align-items: center;
  block-size: 100vh;
  position: relative;
  padding: var(--main-gap);
}

.header__decorative-element {
  position: absolute;
  inset-block-start: var(--main-gap);
  inset-inline-end: var(--main-gap);
  display: flex;
  align-items: center;
  gap: var(--main-gap);
  color: var(--accent-color);
  font-size: 18px;
  line-height: 139%;
  font-weight: 400;
  text-transform: uppercase;
  margin-inline-end: 9px;
}

.header__decorative-element::after {
  content: '';
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-button {
  font-family: inherit;
  font-size: 18px;
  line-height: 100%;
  text-transform: lowercase;
  color: var(--accent-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 3px 13px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-border);
}

/* сброс стилей */
.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__title {
  color: var(--main-title-color, #db00ff);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
}

.header__subtitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
}

/* Decorated */
.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  inset-block-start: var(--main-gap);
  inset-inline-end: var(--main-gap);
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.decorated-zone::after {
  inset-block-end: var(--main-gap);
  inset-inline-start: var(--main-gap);
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}

.content {
  display: grid;
  gap: 50px;
  padding: 40px var(--main-gap);
}

/* Section */
.section {
  display: grid;
  gap: 20px;
}

.section__card-list {
  display: grid;
  gap: 20px;
}

.section__title {
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
}

.section__descrition {
  color: var(--title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  margin-block-end: 20px;
}

/* Card */
.card {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);
}

.card__title {
  font-size: 18px;
  line-height: 130%;
}

.card__content {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
}

.card__link {
  text-shadow: 2px 1px 0 var(--decor-color);
}

.card__link:hover {
  border-block-end: 1px solid var(--text-color);
}

.card__link:focus {
  outline: none;
}

.card__link:focus-visible {
  outline: 1px solid var(--text-color);
}

/* Gallery */
.gallery {
  display: grid;
  gap: var(--main-gap);
}

.gallery__title {
  color: var(--title-color, #000028);
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
}

.gallery__container {
  display: grid;
  gap: var(--main-gap);
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Footer */
.footer {
  display: grid;
  align-items: center;
  block-size: 100vh;
  position: relative;
  padding: var(--main-gap);
}

.footer__title {
  color: var(--main-title-color, #db00ff);
  text-shadow: 2px 2px 0 var(--main-title-shadow);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
}


/* Переопределение классов под планшет */
@media (width >= 768px) {
  .header {
    padding: 20px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }

  .header__decorative-element {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .header__subtitle {
    max-width: 50%;
    justify-self: end;
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .content {
    gap: 80px;
    padding: 60px 20px;
  }

  .two-cols {
    grid-template-columns: 1fr 2fr;
  }

  .three-cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery {
    gap: 20px;
  }

  .gallery__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__image_long {
    grid-column: span 2;
  }

  .gallery__image_tall {
    grid-row: span 2;
  }

  .footer {
    justify-content: center;
    padding: 20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}


/* Переопределение классов под desktop */
@media (width >= 1024px) {
  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: var(--main-gap);
  }
}
