:root {
  --main-font: 'IBM Plex mono', monospace;
  --bg-color: #000028;
  --bg-image: url(./../images/cover-image-dark.png);
  --main-title-color: #db00ff;
  --main-title-shadow: #ff0070;
  --title-color: #000028;
  --text-color: #f1b2ce;
  --decor-color: #ff0070;
  --accent-color: #ff0070;
  --hover-border: rgba(255, 0, 112, 0.4);
}
